.jumbotron {
    text-align: center;
    background-image: url(https://media.istockphoto.com/photos/colorful-bokeh-background-picture-id525961208?k=6&m=525961208&s=612x612&w=0&h=dnkdheTZgaJwfg7cO9MRzQB58O_ekO6YjlW44XaNSvs=);
}

.c2 {
    border: 1px solid darkgray;
}

.innerclass {
    margin: 10px;
    padding: 10px;
    background: #9b9fa1;
    text-align: center;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    /* border: 2px solid lightgray; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}